We are working with a sales dataset from different stores in a supermarket chain. The data is sourced from Kaggle. The focus here is on utilizing the functionality of the __pandas__ library.

# 1 Preliminary data analysis

In [1]:
import pandas as pd
df = pd.read_csv('data/supermarket/supermarket_sales.csv')

__Let us output the first 5 and the last 5 records in the dataset__

In [28]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [22]:
df.tail()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

__Data shape overview__

In [10]:
print(f'The set contains {df.shape[0]} rows and {df.shape[1]} columns.')

The set contains 1000 rows and 17 columns.

__Let us review the data types in the data set__

In [24]:
df.dtypes

Invoice ID                  object
Branch                      object
City                        object
Customer type               object
Gender                      object
Product line                object
Unit price                 float64
Quantity                     int64
Tax 5%                     float64
Total                      float64
Date                        object
Time                        object
Payment                     object
cogs                       float64
gross margin percentage    float64
gross income               float64
Rating                     float64
dtype: object

__How many columns of each type are in this dataset?__

In [3]:
col_types = df.dtypes.value_counts()
col_types

object     9
float64    7
int64      1
Name: count, dtype: int64

# 2 Main part of data analysis

__1: How many total purchases were made by customers with different `Customer type`?__

In [29]:
df.rename(columns = {'Customer type':'Customer_Type'}, inplace = True)

df.Customer_Type.value_counts()

Member    501
Normal    499
Name: Customer_Type, dtype: int64

__2: What product lines are in the dataset?__

In [8]:
df.rename(columns = {'Product line':'Product_Line'}, inplace = True)

df.Product_Line.unique()

array(['Health and beauty', 'Electronic accessories',
       'Home and lifestyle', 'Sports and travel', 'Food and beverages',
       'Fashion accessories'], dtype=object)

__3: What is the average price of products in each product line?__

In [32]:
df.rename(columns = {'Unit price':'Unit_Price'}, inplace = True)

df.groupby('Product_Line').Unit_Price.mean()

Product_Line
Electronic accessories    53.551588
Fashion accessories       57.153652
Food and beverages        56.008851
Health and beauty         54.854474
Home and lifestyle        55.316937
Sports and travel         56.993253
Name: Unit_Price, dtype: float64

__4: Which purchase generated the highest gross income for the store?__

In [5]:
df.rename(columns = {'gross income':'Gross_Income'}, inplace = True)
max_income_index = df['Gross_Income'].idxmax()
df.loc[max_income_index]

Invoice ID                         860-79-0874
Branch                                       C
City                                 Naypyitaw
Customer type                           Member
Gender                                  Female
Product line               Fashion accessories
Unit price                                99.3
Quantity                                    10
Tax 5%                                   49.65
Total                                  1042.65
Date                                 2/15/2019
Time                                     14:53
Payment                            Credit card
cogs                                     993.0
gross margin percentage               4.761905
Gross_Income                             49.65
Rating                                     6.6
Name: 350, dtype: object

__5: Which store branch is the most profitable? What is its total profit, and in which city is it located?__

In [16]:
max_income = df.groupby('Branch').Gross_Income.mean().idxmax()
city = df.groupby('City').Gross_Income.mean().idxmax()
total_income = df.groupby('Total').Gross_Income.mean().idxmax()
print(f'The store branch {max_income} is the most profitable. This city branch is located at {city}, its total income is {total_income}.  One should consider opening another store in that location.')

The store branch C is the most profitable. This city branch is located at Naypyitaw, its total income is 1042.65.  One should consider opening another store in that location.

__6: Does the gross margin percentage differ for various purchases in the store?__

In [106]:
df.rename(columns = {'gross margin percentage':'Gross_Margin_Percentage'}, inplace = True)

df.Gross_Margin_Percentage.unique()

array([4.76190476])

__All purchases have the same gross margin.__

__7: In which store branch are the most electronic accessories purchased? To answer this, let us create the following table:__

In [9]:
pivot = df.pivot_table(index=['Branch'], columns=['Product_Line'], aggfunc = ['size'])
pivot

                               size                                         \
Product_Line Electronic accessories Fashion accessories Food and beverages
Branch
A                                60                  51                 58
B                                55                  62                 50
C                                55                  65                 66


Product_Line Health and beauty Home and lifestyle Sports and travel
Branch
A                           47                 65                59
B                           53                 50                62
C                           52                 45                45

__The branch store A has the biggest amount of Electtonic Accessories.__

__8: Let's display the number of purchases by hour__

In [130]:
def time_split(time):
    return int(time.split(':')[0])
df['Hour'] = df.Time.apply(time_split)
df.head()
df.groupby('Hour').Quantity.count()

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: Quantity, dtype: int64

__The highest number of purchases are made at 10 AM, 1 PM, 3 PM, and 7 PM. This is likely related to working hours. The highest number of purchases occur before work, during lunch breaks, or after the workday.__

__9: How do customers most frequently make their payments?__

In [17]:
df.Payment.value_counts()

Ewallet        345
Cash           344
Credit card    311
Name: Payment, dtype: int64

__Customers prefer paying by electronic wallet. Therefore, it is important to ensure that all payment terminals are functioning properly. Moreover, consider implementing a rewards system for those who choose cashless payment. For example, one could offer free delivery on their next order.__

__10: Which city does have the lowest total income?__

In [34]:
df.groupby('City').Total.mean()

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

__The lowest average income is in the city of Yangon. It might be necessary to increase the number of advertising integrations for this city or offer discounts and promotions to attract new customers.__

__11: What can one say about the total income by customer type?__

In [41]:
df.groupby(['Customer_Type','Gender']).mean()

                      Unit_Price  Quantity     Tax 5%       Total        cogs  \
Customer_Type Gender
Member        Female   55.778314  5.716475  16.082274  337.727753  321.645479
              Male     56.673167  5.387500  15.094544  316.985419  301.890875
Normal        Female   54.704583  5.737500  15.820631  332.233256  316.412625
              Male     55.534093  5.204633  14.526075  305.047581  290.521506

                      gross margin percentage  gross income    Rating
Customer_Type Gender
Member        Female                 4.761905     16.082274  6.940613
              Male                   4.761905     15.094544  6.940000
Normal        Female                 4.761905     15.820631  6.990417
              Male                   4.761905     14.526075  7.018919

__One sees that the 'Total' value is higher for women in both 'Customer_Type' categories. One can increase the number of male customers by expanding the product line for men.__